{#Plantilla base#}
{% extends 'base.html.twig' %}
{#Contenido#}
{% block body %}



<a href="{{ path('NewjobOffer') }}" class="btn btn-primary btn-lg " tabindex="-1" role="button" aria-disabled="true"> + Neues Jobangebot</a>

<div class="card mb-3">
            <div class="card-header">
              <i class="fas fa-table"></i>
              Kandidaten</div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Registrierungsdatum</th>
                      <th>Tochtergesellschaft</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Registrierungsdatum</th>
                      <th>Tochtergesellschaft</th>
                      
                    </tr>
                  </tfoot>
                  <tbody>
                  {% if offers %}
                    {% for offer in offers %}
	                  <tr>
	                      <td>{{offer.titel}}</td>	                      
	                      <td>{{offer.idSubsidiary}}</td>	                     
	                    </tr>
	                    {%endfor%}
  
				  {% else %}
					   <td>No Result.</td>
				  {% endif %}                   
                    
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
          </div>
{% endblock %}